
Davis Files/.ipynb_checkpoints/ClassesSpring2018-checkpoint.txt
Davis Files/.ipynb_checkpoints/ProfConflictsSpring2018-checkpoint.txt
Davis Files/.ipynb_checkpoints/SSchedule Spring 2018-checkpoint.txt
Davis Files/.ipynb_checkpoints/untitled-checkpoint.txt
Davis Files/GrandAlpha17c.exe
Davis Files/TWEAKSCHEDULE2009.exe
